body {
    font-family: 'Fira Code', monospace;
    overflow-x: hidden;
    cursor: url('https://cdn.custom-cursor.com/db/7648/32/meme-pop-cat-cursor.png'), auto;
    /*cursor: url('https://cdn.custom-cursor.com/db/18387/32/disney-big-hero-6-baymax-pointer.png'), auto;*/
}

#fullscreen-toggle, #theme-toggle, a {
    cursor: url('https://cdn.custom-cursor.com/db/7647/32/meme-pop-cat-pointer.png'), pointer;
    /*cursor: url('https://cdn.custom-cursor.com/db/18388/32/disney-big-hero-6-baymax-cursor.png'), pointer;*/
}

/* Warna text selection Default (Light Mode) */
::selection {
    background-color: transparent; 
    color: #15803d;
}
/* Warna text selection Dark Mode */
html.dark ::selection {
    background-color: transparent;
    color: #4ade80;
}

/* Konfigurasi Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}

/* Tampilan Scrollbar Default (Light Mode) */
::-webkit-scrollbar-track {
    background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
/* Tampilan Scrollbar (Dark Mode) */
html.dark ::-webkit-scrollbar-track {
    background: #1e1e1e;
}
html.dark ::-webkit-scrollbar-thumb {
    background: #4a4a4a;
}
html.dark ::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

/* Menghilangkan panah pada input number (jika ada) */
input[type="text"] {
    caret-color: transparent;
    color: transparent;
    cursor: url('https://cdn.custom-cursor.com/db/7648/32/meme-pop-cat-cursor.png'), auto !important;
}

/* Efek kursor berkedip */
.blinking-cursor {
    animation: blink 1s step-end infinite;
    color: #16a34a;
}
html.dark .blinking-cursor {
    color: #4ade80;
}

@keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
}

:screen {
    background-color: transparent;
}
